<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
   <nav class="navbar navbar-default">
        <a routerLink="/add-project" routerLinkActive="active">Add Project</a>
        <a routerLink="/add-task" routerLinkActive="active">Add Task</a>
        <a routerLink="/add-user" routerLinkActive="active">Add User</a>
        <a routerLink="/view-task" routerLinkActive="active">View Task</a>
    </nav>
</div>

<div class="container">
    <div class="row">
        <!-- routing here -->
        <router-outlet></router-outlet>
    </div>
</div>