    <!--<ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="add-project.component-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <div class="input-group">
                        <p>Hello</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template> -->
    <div class="container">
        <div class="col-sm-8 form-group-lg">
            <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Project:</td>
                            <td colspan="166"><input formControlName="projectName" placeholder="Project Name"
                                    name="projectName" class="form-control" id="projectName"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <ng-container>

                                <td colspan="60">

                                    <small>
                                        <label>
                                            <input formControlName="chkEnable" #chkEnable ngModel type="checkbox" id="dateCheckbox" />
                                            Set Start and End Date
                                        </label></small>
                                </td>

                                <td colspan="60"><input formControlName="startDate" class="form-control" name="startDate" placeholder="Start Date"
                                        ngModel [valueAsDate]    [disabled]="!chkEnable.checked"></td>

                                <td colspan="60">
                                    <input formControlName="endDate"  name="endDate" placeholder="End Date"  class="form-control" 
                                     ngModel [valueAsDate] [disabled]="!chkEnable.checked"></td>

                            </ng-container>

                        </tr>
                        <tr>
                            <td>Priority:</td>
                            <td colspan="160"><input formControlName="priority" class="form-control"  
                                 type="range" name="priority" min="0" max="30" value="20">

                            </td>
                        </tr>
                        <tr>
                            <td>Manager:</td>
                            <td colspan="140"><input formControlName="manager" placeholder="Manager" name="manager"
                                    class="form-control" id="manager"></td>
                            <!-- <td colspan="6"><button (click)="openModal('custom-modal-1')">Open Modal 1</button></td>
                            <td><button class="btn btn-lg btn-outline-primary" (click)="open(content)">Search</button></td>  -->
                            <td><button class="btn btn-lg btn-outline-primary">Search</button></td>
                        </tr>
                        <tr>
                            <td colspan="140"></td>
                            <td><button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Add</button>
                            </td>
                            <td><button type="reset" class="btn btn-success" id="reset-btn"
                                    ng-click="reset()">Reset</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
        <div>
        <app-list-project></app-list-project>
    </div>
        <!-- <modal id="custom-modal-1">
                <div class="modal">
                    <div class="modal-body">
                        <h1>A Custom Modal!</h1>
                        <p>
                            Home page text: <input type="text" [(ngModel)]="bodyText" />
                        </p>
                        <button (click)="closeModal('custom-modal-1');">Close</button>
                    </div>
                </div>
                <div class="modal-background"></div>
            </modal> -->

